services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    image: React-template:latest
    container_name: React-template
    restart: always
    ports:
      - "3000:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro    


